@CHARSET "UTF-8";

body,ul,li,html,div,table,tr,td,th,p,h1,hr {
	background: transparent;
	border: 0px;
	margin: 0px;
	padding: 0px;
	vertical-align: baseline;
	word-wrap: break-word;
}

body,ul,li {
	display: block;
}

body {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #0d0d0d;
}

div#header {
	width: 100%;
	max-width: 1280px;
	height: 190px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-image: url(../images/scape_header_bg.png);
	background-position: top left;
	background-repeat: no-repeat;
}

div#container {
	width: 100%;
	max-width: 1280px;
	height: auto;
	margin: 0px auto 0px auto;
	padding: 0px 0px 90px 0px;
	background-image: url(../images/scape_content_bg.png);
	background-position: top left;
	background-repeat: repeat-y;
}

.menu {
	left: 330px;
	max-width: 895px;
	position: absolute;
	top: 90px;
}

.menu li {
	float: left;
	list-style-type: none;
	margin: 0px 0px 0px 5px;
	padding: 0px 0px 0px 0px;
	line-height: 20px;
}

.menu li a {
	margin: 0;
	padding: 7px 20px 7px 20px;
	font-size: 16px;
	color: #FFFFFF;
	text-decoration: none;
	text-shadow: 2px 2px 2px #333;
}

.currentItem li {
	color: #FFFFFF;
	background: #449fbd left top repeat;
	-moz-box-shadow: 0 0 5px #333;
	-webkit-box-shadow: 0 0 5px #333;
	box-shadow: 0 0 5px #333;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#data {
	margin-left: 8px;
	margin-right: 8px;
}

#data_plan {
	width: 100%;
	font-size: 11pt;
}

#data_plan td {
	vertical-align: middle;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.row_hover {
	background-color: #97d1e4;
	color: #000000;
	cursor: pointer;
}

.col_id {
	font-weight: bold;
}

.col_title {
	font-style: italic;
}

.col_state {
	
}

.col_actions a {
	margin-left: 4px;
	margin-right: 4px;
}

.details_table {
	font-size: 11pt;
	background-color: #98d1e5;
	-moz-border-radius: 0px 0px 15px 15px;
	border-radius: 0px 0px 15px 15px;
	border-width: 2px;
	border-style: solid;
	border-color: #1d82a4;
	box-shadow: 2px 2px 2px 2px #cccccc;
	padding: 0px;
	margin: 0px;
	margin-right: 8px;
	margin-left: 8px;
	border-spacing: 0px;
	width: 30%;
	float: left;
}

.details_table label {
	color: #ffffff;
	font-size: 11pt;
	text-shadow: 2px 2px 2px #333;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	width: 120px;
	float: left;
}

.details_table p {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 10px;
	float: left;
	margin-left: 20px;
	width: 100%;
}

.details_table h1 {
	text-align: center;
	font-size: 12pt;
	color: #ffffff;
	text-shadow: 2px 2px 2px #333;
	padding-top: 4px;
	padding-bottom: 8px;
	padding-left: 0px;
	padding-right: 0px;
	border-spacing: 0px;
	background-color: #1d82a4;
}

#details_container {
	float: left;
	width: 100%;
}

#trigger_table hr {
	width: 100%;
	color: #1d82a4;
	border-style: dashed;
	border-width: 1px;
	margin-bottom: 10px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
}