<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="SCAPE-PLAN-MANAGEMENT-GUI">
	<servlet>
		<servlet-name>execution-delegate</servlet-name>
		<display-name>SCAPE Execution Service Delegate</display-name>
		<servlet-class>scape.support.DelegateServlet</servlet-class>
		<init-param>
			<param-name>config-prefix</param-name>
			<param-value>execute</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>repository-delegate</servlet-name>
		<display-name>SCAPE Repository Delegate</display-name>
		<servlet-class>scape.support.DelegateServlet</servlet-class>
		<init-param>
			<param-name>config-prefix</param-name>
			<param-value>repository</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>execution-delegate</servlet-name>
		<url-pattern>/execute/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>repository-delegate</servlet-name>
		<url-pattern>/repository/*</url-pattern>
	</servlet-mapping>
</web-app>